
header {
	background-color: #ACAAE9;
	color: #333;
	padding: .5em;
	user-select: none;
	-webkit-app-region: drag;
	cursor: -webkit-grab;
}

header h1 {
	margin: 0;
	font-size: 14px;
}

header #close {
	float: right;
	border-radius: .5em;
	display: block;
	width: 1em;
	height: 1em;
	color: #d9383f;
	cursor: pointer;
}

#content {
	padding: 1em;
}

.buttons {
	text-align: center;
}

button {
	font-size: 1em;
	margin: 2em 1em 1em 1em;
	padding: 0.4em 2em;
	background-color: #ACAAE9;
	color: #333;
	font-weight: bold;
	border: 0 none;
	cursor: pointer;
}