
@cta-color: blue;
@std-divider: 1px solid #efefef;
@left-col-width: 200px;
@top-panel-height: 150px;

html, body {
	height: 100%;
	margin: 0;
	padding: 0;

	.wallet-app-view {
		height: 100%;
		font-family: monospace;

		.eth:before {
			font-family: sans-serif;
			content: "\039E";
		}

		.overlay {
			position: absolute;
			background-color: rgba(0,0,0,0.8);
			height: 100%;
			width: 100%;

			&:empty { display: none; }

			.status-overlay {
				width: 200px;
				background-color: white;
				text-align: center;
				margin: 5em auto;
				padding: 2em;
				border-radius: 0.5em;
			}
		}

		.accounts {
			width: @left-col-width;
			box-sizing: border-box;
			overflow: auto;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			border-right: @std-divider;

			.account {
				clear: both;
				overflow: auto;
				padding: 0.4em;
				border-bottom: @std-divider;
				cursor: pointer;

				.image {
					float: left;
				}

				.address {
					overflow: hidden;
					text-overflow: ellipsis;
  					
				}

				.balance {
					line-height: 2.5em;

					
					.amount { font-size: 1.6em; }
				}
			}
		}

		.send {
			position: absolute;
			box-sizing: border-box;
			padding: 1em;
			left: @left-col-width;
			height: @top-panel-height;
			border-bottom: @std-divider;
			right: 0;
			top: 0;
			
			.title {
				margin: 0 0 1em;
				font-size: 1.2em;
			}
			input {
				font-family: monospace;
				padding: 0.4em;
			}
			input.error {
				background-color: red;
				color: white;
			}

			span.label {
				display: inline-block;
				width: 5em;
			}

			.to-from {
				margin-bottom: 0.5em;
				overflow: auto;
				display: inline-table;

				label {
					display: inline-block;
					display: block;
					line-height: 2.5em;
					vertical-align: middle;
					position: relative;

					input {
						width: 23em;
						max-width: 100%;
					}

					svg {
						display: inline-block;
						vertical-align: middle;
						height: 2.5em;
						width: 2.5em;
					}
				}
			}
			.detail {
				display: inline-table;
				input { width: 6em;}
			}
		}

		.transactions {
			position: absolute;
			box-sizing: border-box;
			bottom: 0;
			top: @top-panel-height;
			left: @left-col-width;
			right: 0;
			padding: 1em;
			overflow: auto;

			.transaction {
				padding: 0.5em;
				border-bottom: @std-divider;

				.from, .to {
					svg {
						width: 1.6em;
						height: 1.6em;
						display: inline-block;
						vertical-align: bottom;
					}

					.address {
						display: inline-block;
						max-width: 16em;
						overflow: hidden;
						text-overflow: ellipsis;
						padding: 0.15em;
  						background-color: #efefef;
					}
				}

				.separator {
					padding: 0 1em;
					&:before, &:after {
						content: "=>";
						font-weight: bold;
					}
					.value {
						display: inline-block;
						padding: 0 1em;
						min-width: 4em;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}

				.details {
					.toggle-details:before {
						color: @cta-color;
						text-decoration: underline;
						content: "Show details";
					}

					pre { display: none; }
				}

				&.expanded {
					background-color: #efefef;
					.details {
						.toggle-details:before {
							content: "Hide details"
						}
						pre {
							display: block;
							overflow: auto;
							word-break: break-word;
							background-color: #333;
							color: white;
						}
					}
				}
			}
		}
	}
}