doctype html
html
	head
		title &Xi;thos
		script( src="" )
		link( rel="stylesheet", href="/ethos/static/assets/style.css" )
		link( rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.css" )
		link( rel="shortcut icon", href="/favicon.ico", type="image/x-icon" )
		link( rel="icon", href="/favicon.ico", type="image/x-icon" )
		script( type="text/javascript", src="/ethos/static/assets/inject.bundle.js" )
	body
		img#ethos-logo( title="Ethos, made for Ethereum", src="/ethos/static/assets/ethos-logo.png" )

		#menu
			a( href="#" )
				i.fa.fa-bars
			ul.inner
				li
					a Settings
					a Network
					a About

		ul#dapps
			- for (var i in dapps) {
				li
					a( href=":eth?dapp=#{dapps[i].name}" )
						i( class="fa fa-#{dapps[i].icon}")
						span= dapps[i].name
			- }
			li
				a( href="#add" )
					i( class="fa fa-plus")
					span Add ÐApp