doctype html
html
	head
		title &Xi;thos
		script( src="" )
		link( rel="stylesheet", href="/static/assets/style.css" )
		link( rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.css" )
	body
		img#ethos-logo( title="Ethos, made for Ethereum", src="/static/assets/ethos-logo.png" )

		#menu
			a( href="#" )
				i.fa.fa-bars
			ul.inner
				li
					a Settings
					a Network
					a About

		ul#dapps
			- for (var i = 0; i < dapps.length; ++i) {
				li
					a( href=":eth?dapp=#{dapps[i].name}" )
						i( class="fa fa-#{dapps[i].icon}")
						span= dapps[i].name
			- }