doctype html
html#home
	head
		title Ethos Proxy
		link(rel="stylesheet", href="/static/assets/style.css")
	body
		iframe#window(src="#{url}", frameborder="0")
		script(src="/static/assets/script.js")