doctype html
html
	head
		title &Xi;thos
		script( src="" )
		link( rel="stylesheet", href="app://ethos/app/styles/style.css" )
		link( rel="stylesheet", href="app://ethos/app/styles/404.css" )
		link( rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.css" )
		link( rel="shortcut icon", href="/favicon.ico", type="image/x-icon" )
		link( rel="icon", href="app://ethos/app/images/favicon.ico", type="image/x-icon" )
	body#body
		a(href="/")
			img#ethos-logo( title="Ethos, made for Ethereum", src="app://ethos/app/images/ethos-logo-inverted.png" )

		p.subtitle <span class="key-combo">Ctrl+H</span> to go home.

		h1 404
		p A DApp was not found to handle this request.

		style.
			

		script.
			window.onload = function(){
				document.getElementById('body').className += ' loaded';
			}