doctype html
html
	head
		title &Xi;thos
		script( src="" )
		link( rel="stylesheet", href="app://ethos/app/styles/style.css" )
		link( rel="stylesheet", href="app://ethos/app/styles/dialog.css" )
		link( rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.css" )
		link( rel="shortcut icon", href="app://ethos/app/images/favicon.ico", type="image/x-icon" )
		link( rel="icon", href="app://ethos/app/images/favicon.ico", type="image/x-icon" )
	body#body

		script.
			process.on( 'uncaughtException', function(err){
				console.log( err )
				window.location.href ="./html/nwError.html";
			})

		script( src="/ethos/app/scripts/dialog.bundle.js")
