doctype html
html
	head
		title &Xi;thos
		script( src="" )
		link( rel="stylesheet", href="/ethos/app/styles/style.css" )
		link( rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.css" )
		link( rel="shortcut icon", href="/ethos/app/images/favicon.ico", type="image/x-icon" )
		link( rel="icon", href="/ethos/app/images/favicon.ico", type="image/x-icon" )
		script( src="/ethos/app/scripts/inject.bundle.js" )
	body#body

		img#ethos-logo( title="Ethos, made for Ethereum", src="/ethos/app/images/ethos-logo.png" )

		p.subtitle <span class="key-combo">Ctrl+H</span> to come home.

		#ethos

		script( src="/ethos/app/scripts/ethos.bundle.js" )
			
